@import "tailwindcss";

:root {
  --primary: #0070f3;
  --primary-dark: #0050b3;
  --secondary: #00c16a;
  --secondary-dark: #00a155;
  --background: #ffffff;
  --foreground: #111827;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --border: #e5e7eb;
  --radius: 0.5rem;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
}
